.container-game {
    background: #202028;
    color: #fff;
    font-family: sans-serif;
    font-size: 2em;
    text-align: center;
    height: 100%;
    position: relative;
}
canvas {
    border: solid .2em #fff;
    height: 90vh;
}

#score {
    display: none;
}

#tetris {
    display: none;
}

#rulesBox {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
}

button {
    margin-top: 20px;
}